:root {
    --header_height: 100px;
    --footer_height: 100px;
    --sidebar_width: 200px;
}

html, body {
    height: 100%; margin: 0;
}

.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: var(--header_height);
    top: 0px;
    left: 0px;
    background-color: cornflowerblue;
}

.middle {
    width: 100%;
    height: calc(100% - var(--footer_height));
    box-sizing: border-box;
    background-color: darkgoldenrod;
}

.content {
    top: 0px;
    height: 100%;
    width: calc(100% - var(--sidebar_width));
    background-color: darkcyan;
    float: left;
    color: black;
    overflow: hidden;
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    width: var(--sidebar_width);
    background-color: lightskyblue;
    float: right;
}

.centered {
    position: relative;
    text-align: center;
    vertical-align: center;
    display: inline-block;
}

.footer {
    width: 100%; 
    height: var(--footer_height);;
    bottom: 0px;
    left: 0px;
    background-color: cornflowerblue;
    position: fixed;
}
