#app {
    width: 100%;
    height: 100%;
}

.title {
    width: 100%;
    margin-top: 10px;
}

.centered {
    display: table; 
    margin: 0 auto; /* center */
}

.poem {
    /*position: absolute;*/
    position: absolute;
    left: 50%;
    top: 45%;
/*    -webkit-transform: translate(-50%, -50%);*/
    transform: translate(-50%, -50%);
    padding: 5px;
    border: 1px solid black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}